<div *ngIf='type === "representative"' class="bg-dark">
    <!-- Grid for representative-->
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <img class="" src="assets/leon.jpg" alt="">
                </ion-col>
                <ion-col size="3">
                    <img class="" src="assets/leon.jpg" alt="">
                </ion-col>
                <ion-col size="3">
                    <img class="" src="assets/leon.jpg" alt="">
                </ion-col>
                <ion-col size="3">
                    <img class="" src="assets/leon.jpg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    <!--END  Grid for representative-->
</div>
<div *ngIf='type === "busDriver"' class="bg-dark">
    <!-- Grid for bus Driver-->
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <img class="" src="assets/leon.jpg" alt="">
                </ion-col>
                <ion-col size="6">
                    <img class="" src="assets/leon.jpg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    <!--END  Grid for bus Driver-->
</div>
<div *ngIf='type === "admin"' class="bg-dark">
    <!-- Grid for admin-->
        <ion-grid>
            <ion-row>
                <ion-col size="4">
                    <img class="" src="assets/leon.jpg" alt="">
                </ion-col>
                <ion-col size="4">
                    <img class="" src="assets/leon.jpg" alt="">
                </ion-col>
                <ion-col size="4">
                    <img class="" src="assets/leon.jpg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    <!--END  Grid for admin-->
</div>