<ion-header >
    <div class="extended-header">
        <ion-title class="super-title">Where's my Bus?</ion-title>
        <img class="logo" src="assets/svg/wmb_assets_icon_logo_header.svg" alt="">
    </div>
</ion-header>
  
<ion-content class="relative">
    <ion-grid class="form-init">
        <ion-row>
            <ion-col size="12">
                <input class="form-input" type="email" placeholder="Correo electronico" [(ngModel)]="email">
            </ion-col>
            <ion-col size="12">
                <input class="form-input" type="password" placeholder="Contraseña" [(ngModel)]="password">
            </ion-col>
            <ion-col size="12">
                <button class="form-btn cta" (click)="login()">Iniciar Sesión<span><img src="assets/png/wmb_assets_icon_login.png" alt=""></span> </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="tide"></div>      
</ion-content>
  