<div class="my-invisible-overlay" [hidden]="inputEnabled"></div>
<ion-header>
    <div class="header">
        <ion-grid class="no-pd max-h">
            <ion-row align-items-center class="max-h">
                <ion-col size="2" class="no-pd">
                    <img class="btn-back" src="assets/png/wmb_assets_icon_back_arrow.png" alt="" (click)="redirect('profile')">
                </ion-col>
                <ion-col size="8" class="no-pd">
                    <ion-title class="title">Editar Perfil</ion-title>
                </ion-col>
                <ion-col size="2" class="no-pd">
                    <img class="logo-header" src="assets/svg/wmb_assets_icon_logo_header.svg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="bg-gray">
    <app-navbar [userType]="userType"></app-navbar>
    <div *ngIf="ready === true" class="card-profile bg-cards">
        <ion-grid>
            <ion-row align-items-center>
                <ion-col size="6">
                    <img *ngIf='user.photo !== ""' class="profile-photo" src="{{user.photo}}" alt="">
                    <button class="form-btn cta_edit" *ngIf='user.photo !== ""' (click)="deletePicture(user.photo,true)">Eliminar foto<span><img src="assets/png/wmb_assets_icon_cancel.png" alt=""></span> </button>
                    
                    <img *ngIf='user.photo === ""' class="profile-photo" src="assets/profile_empty.jpg" alt="">
                    <button class="form-btn cta_edit" *ngIf='user.photo === ""' (click)="getPicture(true)">Cargar Imagen<span><img src="assets/png/wmb_assets_icon_add_pciture.png" alt=""></span> </button>
                </ion-col>
                <ion-col size="5">
                    <!-- <h2 class="title">{{user.name}}</h2> -->
                    <input class="form-input" type="text" placeholder="Nombre del representante" [(ngModel)]="user.name" readonly>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col size="6">
                    <h2 class="title">Representado:</h2>
                    <input class="form-input" type="text" placeholder="Nombre del Representado" [(ngModel)]="student.name" readonly>
                </ion-col>
                <ion-col size="6">
                    <img *ngIf='student.photo !== ""' class="profile-photo" src="{{student.photo}}" alt="">
                    <button class="form-btn cta_edit" *ngIf='student.photo !== ""' (click)="deletePicture(student.photo,false)">Eliminar foto<span><img src="assets/png/wmb_assets_icon_cancel.png" alt=""></span> </button>
                    
                    <img *ngIf='student.photo === ""' class="profile-photo" src="assets/profile_empty.jpg" alt="">
                    <button class="form-btn cta_edit" *ngIf='student.photo === ""' (click)="getPicture(false)">Cargar Imagen<span><img src="assets/png/wmb_assets_icon_add_pciture.png" alt=""></span> </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <h2 class="title">Telefono:</h2>
                    <input class="form-input" type="text" placeholder="Teléfono" [(ngModel)]="user.phone">
                </ion-col>
                <!-- <ion-col size="12">
                    <h2 class="title">Direccion:</h2>
                    
                    <input class="form-input" type="text" placeholder="Dirección" [(ngModel)]="user.address" readonly>
                </ion-col> -->

                <ion-col size="12">
                    <h2 class="title">Cambiar Contraseña:</h2>
                    <input class="form-input" type="password" placeholder="Nueva Contraseña" [(ngModel)]="password">
                </ion-col>
                <ion-col size="12">
                    <button (click)="saveChanges()" class="form-btn-save cta">Guardar Cambios
                        <span>
                            <img src="assets/png/wmb_assets_icon_save.png" alt="">
                        </span>
                    </button>
                </ion-col>
                <ion-col size="12">
                    <button class="form-btn cta" (click)="redirect('profile')">Cancelar
                        <span>
                            <img src="assets/png/wmb_assets_icon_cancel.png" alt="">
                        </span>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-spinner *ngIf="ready !== true" name="crescent" class="spin"></ion-spinner>
    <ion-spinner *ngIf="loading === true" name="crescent" class="spin"></ion-spinner>
</ion-content>