<ion-header>
    <div class="header">
        <ion-grid class="no-pd max-h">
            <ion-row align-items-center class="max-h">
                <ion-col size="2" class="no-pd">
                    <img class="btn-back" src="assets/png/wmb_assets_icon_back_arrow.png" alt="" (click)="goHome()">
                </ion-col>
                <ion-col size="8" class="no-pd">
                    <ion-title class="title">Nuevo Estudiante</ion-title>
                </ion-col>
                <ion-col size="2" class="no-pd">
                    <img class="logo-header" src="assets/svg/wmb_assets_icon_logo_header.svg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content>
    <app-navbar [userType]="userType"></app-navbar>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <p class="title text-center">Foto del Estudiante</p>
                <img *ngIf='student.photo !== ""' class="profile-photo" src="{{student.photo}}" alt="">
                <button class="form-btn cta_edit" *ngIf='student.photo !== ""' (click)="deletePicture(student.photo)">Eliminar foto
                    <span>
                        <img src="assets/png/wmb_assets_icon_cancel.png" alt="">
                    </span>
                </button>

                <img *ngIf='student.photo === ""' class="profile-photo" src="assets/profile_empty.jpg" alt="">
                <button class="form-btn cta_edit" *ngIf='student.photo === ""' (click)="getPicture()">Cargar Imagen
                    <span>
                        <img src="assets/png/wmb_assets_icon_add_pciture.png" alt="">
                    </span>
                </button>
            </ion-col>

            <ion-col size="12">
                <input class="form-input" type="text" placeholder="Nombre del estudiante" [(ngModel)]="student.name">
            </ion-col>

            <ion-col size="12">
                <input class="form-input" type="text" placeholder="Grado y/o Sección" [(ngModel)]="student.grade">
            </ion-col>

            <ion-col size="12">
                <button (click)="registerStudent()" class="form-btn-save cta">Crear Perfil
                    <span>
                        <img src="assets/png/wmb_assets_icon_save.png" alt="">
                    </span>
                </button>
            </ion-col>
            <ion-col size="12">
                <button class="form-btn cta">Cancelar
                    <span>
                        <img src="assets/png/wmb_assets_icon_cancel.png" alt="">
                    </span>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>