<ion-header>
  <div class="header">
      <ion-grid class="no-pd max-h">
          <ion-row align-items-center class="max-h"> 
              <ion-col size="2" class="no-pd">
                  <img class="btn-back" src="assets/png/wmb_assets_icon_back_arrow.png" alt="" (click)="goHome()">
              </ion-col>
              <ion-col size="8" class="no-pd">
                  <ion-title class="title">Estado de los estudiantes</ion-title>
              </ion-col>
              <ion-col size="2" class="no-pd">
                  <img class="logo-header" src="assets/svg/wmb_assets_icon_logo_header.svg" alt="">   
              </ion-col>
          </ion-row>
      </ion-grid> 
  </div>
</ion-header>
  
<ion-content class="bg-gray">
    <app-navbar [userType]="userType"></app-navbar>
    <app-state [students]="students"></app-state>
</ion-content>