<ion-header>
    <div class="header">
        <ion-grid class="no-pd max-h">
            <ion-row align-items-center class="max-h">
                <ion-col size="2" class="no-pd">
                    <img class="btn-back" src="assets/png/wmb_assets_icon_back_arrow.png" alt="" (click)="redirect('messages')">
                </ion-col>
                <ion-col size="8" class="no-pd">
                    <ion-title class="title2">Mensajes Predeterminados</ion-title>
                </ion-col>
                <ion-col size="2" class="no-pd">
                    <img class="logo-header" src="assets/svg/wmb_assets_icon_logo_header.svg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="bg-gray">
    <app-navbar [userType]="userType"></app-navbar>
    <div *ngFor="let msj of messages">
        <ion-card class="card-message bg-cards">
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col size="10">
                            <p class="text">{{msj}}</p>
                        </ion-col>
                        <ion-col size="2">
                            <button class="saveMessage" (click)="saveNewMessage(msj)">
                                <img class="icon-msg" src="assets/svg/icon_send_message.svg" alt="">
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>