/*Colors*/
$orange: #ffa403;
$black: #332c24;
$red: #e24905;
$greenD: #5abe4f;
$gray: #cecece;


.header{
    //display: flex;
    //align-items: center;
    height: 60px;
   // padding: 0 15px;
    background-color: $orange;

    .title{
        color: white;
    }
    .logo-header{
       /* position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        display: block;
        height: 48px;*/
    }
}

.flex{
    display: flex;
}





.card-message{
    margin: 20px auto;

    .min-text{
        color: $gray;
        text-align: right;
        margin: 0;
    }
}
.icon-msg{
    width: 100%;
    max-height: 45px;
    margin: 0 auto;
}
.saveMessage{
    background-color: transparent;
}