<ion-header>
    <div class="header">
        <ion-grid class="no-pd max-h">
            <ion-row align-items-center class="max-h"> 
                <ion-col size="2" class="no-pd">
                    <img class="btn-back" src="assets/png/wmb_assets_icon_back_arrow.png" alt="" (click)="redirect('messages')">
                </ion-col>
                <ion-col size="8" class="no-pd">
                    <ion-title class="title">Mensajes Pedeterminados</ion-title>
                </ion-col>
                <ion-col size="2" class="no-pd">
                    <img class="logo-header" src="assets/svg/wmb_assets_icon_logo_header.svg" alt="">   
                </ion-col>
            </ion-row>
        </ion-grid> 
    </div>
</ion-header>

<ion-content class="bg-gray">
    <app-navbar [userType]="userType"></app-navbar>

        <ion-card class="card-message bg-cards">
            <ion-card-content>
                <ion-grid>
                    <ion-row>       
                        <ion-col size="10">
                            <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa libero praesentium accusantium reiciendis maxime ea voluptas. Reiciendis, accusamus distinctio veniam quod, aspernatur quia, cumque vero consequatur facilis tempore quasi culpa.</p>
                        </ion-col>
                        <ion-col size="2">
                            <img class="icon-msg" src="assets/svg/icon_send_message.svg" alt="">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    
</ion-content>
