<ion-header>
    <div class="header">
        <ion-grid class="no-pd max-h">
            <ion-row align-items-center class="max-h">
                <ion-col size="2" class="no-pd">
                    <img class="btn-back" src="assets/png/wmb_assets_icon_back_arrow.png" alt="" (click)="goHome()">
                </ion-col>
                <ion-col size="8" class="no-pd">
                    <ion-title class="title">Ubicacion de autobus</ion-title>
                </ion-col>
                <ion-col size="2" class="no-pd">
                    <img class="logo-header" src="assets/svg/wmb_assets_icon_logo_header.svg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-header>

<ion-content class="bg-gray ">
    <app-navbar [userType]="userType"></app-navbar>
    <div class="card-profile ">
        <ion-grid>
            <div *ngIf="studentAtHome === false">
                <ion-row size="12" class="box-area">
                    <p class="text texto">
                        <span class="text legend">
                            <strong>Tiempo estimado de llegada:</strong>
                        </span> {{time}} min.</p>
                </ion-row>

                <ion-row size="12">
                    <p class="text texto">
                        <span class="text legend">
                            <strong>Distancia estimada del autobús: </strong>
                        </span> {{distance}} m.</p>
                </ion-row>
            </div>

            <div *ngIf="studentAtHome === true">
                <ion-row size="12" class="box-area">
                    <p class="text texto">
                        <span class="text legend">
                            <strong>Su representado ya llegó a la parada.</strong>
                        </span></p>
                </ion-row>
            </div>

            <ion-row>
                <app-map></app-map>

            </ion-row>
            <ion-row>
                <p class="text legend">
                    <strong>Leyenda</strong>
                </p>
            </ion-row>
            <ion-row>
                <p class="text text-legend">
                    <img src="assets/marker-icon.png" class="icon-bus" alt="autobus-icono">Icono que representará el autobús.</p>
            </ion-row>
            <ion-row>
                <p class="text text-legend">
                    <img src="assets/marker-icon-stop.png" class="icon-stop" alt="parada-icono">Icono que representará la parada designada.</p>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>