<div *ngIf='type === "representative"' class="bg-white fourth">
    <!-- Grid for representative-->
    <ion-grid>
        <div (click)="redirect('messages')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_driver_status.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Mensajes del chofer</p>
                </ion-col>
            </ion-row>
        </div>

        <div class="separator-tide"></div>
        <div (click)="redirect('state')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_child_status.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Estado de mi representado</p>
                </ion-col>
            </ion-row>
        </div>

        <div class="separator-tide"></div>

        <div (click)="redirect('profile')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_bus_location.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Ubicacion del autobus</p>
                </ion-col>
            </ion-row>
        </div>

        <div class="separator-tide"></div>

        <div (click)="redirect('profile')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_profile.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Mi perfil</p>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
    <!--END  Grid for representative-->
</div>

<div *ngIf='type === "busDriver"' class="bg-white double">
    <!-- Grid for bus driver-->
    <ion-grid>
        <div (click)="redirect('messages')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_driver_status.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Mensajes a representantes</p>
                </ion-col>
            </ion-row>
        </div>

        <div class="separator-tide"></div>

        <div (click)="redirect('statestudent')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_childstatus_onbus.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Estado de los estudiantes</p>
                </ion-col>
            </ion-row>
        </div>

        <div class="separator-tide"></div>
    </ion-grid>
    <!--END  Grid for bus driver-->
</div>

<div *ngIf='type === "admin"' class="bg-white triple">
    <!-- Grid for admin-->
    <ion-grid>
        <div (click)="redirect('messages')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_driver_status.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Mensajes del chofer</p>
                </ion-col>
            </ion-row>
        </div>

        <div class="separator-tide"></div>

        <div (click)="redirect('students')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_add_student2.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Crear perfil para estudiante</p>
                </ion-col>
            </ion-row>
        </div>

        <div class="separator-tide"></div>

        <div (click)="redirect('representative')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_add_parent.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Crear perfil para representante</p>
                </ion-col>
            </ion-row>
        </div>

        <div class="separator-tide"></div>

        <div (click)="redirect('driver')">
            <ion-row align-items-center>
                <ion-col size="4">
                    <img class="logo" src="assets/png/wmb_assets_icon_add_driver.png" alt="">
                </ion-col>
                <ion-col size="8">
                    <p class="title">Crear perfil para chofer</p>
                </ion-col>
            </ion-row>
        </div>

        <div class="separator-tide"></div>
    </ion-grid>
    <!--END  Grid for admin-->
</div>