/*Colors*/
$orange: #ffa403;
$black: #332c24;
$red: #e24905;
$greenD: #5abe4f;
$gray: #cecece;


.title{
    color: $orange;
}
.text{
    color: $gray;
}
.card-states{
    margin: 20px auto;
}

.card-select{
    padding-left: 0;
    ion-select-option{
        
    }
}