/*Colors*/
$orange: #ffa403;
$black: #332c24;
$red: #e24905;
$greenD: #5abe4f;
$gray: #cecece;

.profile-photo{
    border: 1px solid #332c24;
    border-radius: 100%;
    width:100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
.title{
    color: $orange;
}
.text{
    color: $gray;
}
.card-states{
    margin: 0 10px;
}

.card-select{
    padding-left: 0;
    ion-select-option{
        
    }
}