/*Colors*/
$orange: #ffa403;
$black: #332c24;
$red: #e24905;
$greenD: #5abe4f;
$gray: #a2a2a2;


.header{
    //display: flex;
    //align-items: center;
    height: 60px;
   // padding: 0 15px;
    background-color: $orange;

    .title{
        color: white;
    }
    .logo-header{
       /* position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        display: block;
        height: 48px;*/
    }
}

.flex{
    display: flex;
}
.write-box{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: block;
    z-index: 9999;
    
}
.btn-msg{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    height: 40px;
    background-color: transparent;
    color: $red;
    span{
        margin-left: 5px;
        img{
            vertical-align: middle;
            height: 80%;
        }
    }
    &:hover{
        /*background-color: $orange;
        color: white;*/
    }
}
.write-area{
    //height: 50px;
    background-color: #e4e4e4;
    .input-msg{
        padding-left: 5px;
        height: 100%;
        border: none;
        color: $black;
        width: 80%;
        background-color: transparent;

    }
    .btn-write-msg{
        width: 20%;
        background-color: transparent;
        padding: 0;
        height: 100%;
        img{
            margin-left: auto;
            display: block;
            height: 50px;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

/*#message{
    -webkit-user-select: initial;
    user-select: initial;
}*/
.bg-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 170px;
    text-align: center;
    font-size: 36px;
    opacity: 0.5;
}
.bg-img-text{
    display: block;
    height: 80px;
    padding: 0 0 15px 0;
    margin: 0 auto 15px auto; 
}
app-message{
    margin-bottom: 60px;
    position: relative;
    display: block;
}