
@font-face {
	font-family: 'RobotoSlab-Regular';
	src: url('./assets/fonts/RobotoSlab-Regular.ttf');
}
@font-face {
	font-family: 'RobotoSlab-Thin';
	src: url('./assets/fonts/RobotoSlab-Thin.ttf');
}
@font-face {
	font-family: 'RobotoSlab-Light';
	src: url('./assets/fonts/RobotoSlab-Light.ttf');
}
@font-face {
	font-family: 'RobotoSlab-Bold';
	src: url('./assets/fonts/RobotoSlab-Bold.ttf');
}