// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/colors.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//import Fonts
@import "./fonts.scss";

//Styles General
*{
    font-family: "RobotoSlab-Regular";
    outline: none !important;
}
//colors
.grayW{
    color: #cecece;
}
.blueW{
    color: #54acd3;
}
.greenW{
    color: #73be6e;
}
.orangeW{
    color: #ffa403;
}
.green-darkW{
    color: #5abe4f;
}
.redW{
    color: #e24905;
}
.blackW{
    color: #332c24;
}
.gray-lightkW{
    color: #e4e4e4;
}
.gray-darkW{
    color: #dbdbdb;
}
.whiteW{
    color: #f2f2f2;
}


/* Font size */


.super-title{
    font-size: 28px;
    font-family: "RobotoSlab-Bold";
}
.title{
    font-size: 20px;
    font-family: "RobotoSlab-Bold";
}
.subtitle{
    font-size: 20px;
    font-family: "RobotoSlab-Light";
}
.text{
    font-size: 16px;
    font-family: "RobotoSlab-Regular";
}
.min-text{
    font-size: 14px;
    font-family: "RobotoSlab-Light";
}
.cta{
    font-size: 17px;
    font-family: "RobotoSlab-Bold";
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    background-color: white !important;
}
.no-pd{
    padding: 0 !important;
}

.bg-gray{
    background-color: #dbdbdb;
}
.bg-cards{
    background-color: #f2f2f2;
}
.tide{
    width: 100%;
    height: 30px;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background-image: url(assets/svg/wmb_divider.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.separator-tide{
    width: 100%;
    height: 50px;
    display: block;
    background-image: url(assets/svg/wmb_divider.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-white{
    background-color: white;
}
.max-h{
    height: 100%;
}
.btn-back,.logo-header{
    height: 45px;
}
[contenteditable] {
    -webkit-user-select: text; 
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    color: #ffa403;
}
